.glob-calendar-comp {
  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  th {
    font-size: 12px;
    padding: 8px 0px;
  }

  td {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    position: relative;
    cursor: pointer;

    &.blurred {
      color: #cacaca;
      border: 1px solid #d0d0d0;
    }

    &.today {
      .day-text {
        background: gray;
        height: 18px;
        width: 18px;
        color: white;
        text-align: center;
        font-weight: bold;
      }
    }

    &.selected {
      background: #393838;
      .day-text {
        color: white;
        font-weight: bold;
      }
    }
  }

  .day-text {
    font-size: 10px;
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
